<h1>Post#post_mailer</h1>

<p>
  <%= @greeting %>, find me in app/views/post_mailer/post_mailer.html.erb
  <h1>Your post was successfully created.</h1>
  <h4>name: <%= @picture.user.name %></h4>
  <p>image: <%= @picture.image %></p>
  <p>content: <%= @picture.content %></p>
</p>
