<h1><%= @user.name%>'s Favorites</h1>
<div class="container">
  <div class="row">
    <% @user.favorite_pictures.order(created_at: :desc).each do |picture| %>
      <div class="col-xs-4">
        <%= link_to (image_tag picture.image.url), picture, class: "userposts"%>
      </div>
    <% end %> 
  </div>
</div>

<p class="bottom"><%= link_to 'Back', @user %></p>