<h1>Favorite</h1>
    <br>
    <p>
      <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> <%= pluralize(@picture.favorites.count, "like", locale: :en)%>
    </p>
  <table class="favorite">
    <tr>
      <td><strong>Liked by...</strong></td>
    </tr>
    <% if @picture.favorite_users.present? %>
        <% @picture.favorite_users.each do |favorite| %>
          <tr><td><%= image_tag favorite.image_name.url , class: "icon" %> <%= favorite.name %></td></tr>
        <% end %>
    <% end %>
     
  </table>

<p class="bottom"><%= link_to 'Back', pictures_path %></p>


  

  