<h1>Favorite</h1>
    <br>
    <p>
    <% if @picture.favorites.count <= 1 %>
      <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> <%= @picture.favorites.count %> like
    <% else %>
      <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> <%= @picture.favorites.count %> likes
    <% end %>
    </p>
  <table class="detail">
    <tr>
      <td><strong>User:</strong></td>
      <td><%= @picture.favorite_users.first.name %></td>
      <td colspan="4"></td>
    </tr>
    
    <tr>
      <td><strong>Liked at:</strong></td>
      <td><%= @picture.favorite_users.first.created_at.strftime('%Y/%m/%d %H:%M') %></td>
    </tr>
  </table>

  

  