body {
    background-color: #fff;
    color: #333;
    margin: 33px;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
  }
  h1{
    padding-top: 10px;
  }
  
  header{
    margin: 20px 20px;
    padding-bottom: 15px;
    font-size: 3em;
  }
  
  p, ol, ul, td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
  }
  p.login {
    text-align: right;
    margin: 10px 20px;
  }
  // pre {
  //   background-color: #eee;
  //   padding: 10px;
  //   font-size: 11px;
  // }
  
  a {
    color: #000;
  
    &:hover {
      color: #000;
      opacity: 0.4;
      text-decoration: none;
    }
  }
  .form{
    margin: 30px auto;
    padding: 20px;
    width: 80%;
  }

  .field{
    padding-bottom: 20px;
  }

  .filefield{
    width: 200px;
    margin: 30px auto;
    
  }
  .bottom{
    margin: 10px 30px;
    padding: 0 20px;
  }

  table{
    margin: 30px auto;
    width: 60%;
  }
  
  tbody{
    border: solid 1px #b4b4b4;
  }
  
  .detail td{
    height: 100px;
    // width: 150px;
  }
  
  th, td {
    padding: 10px 7px;
    margin-bottom: 10px;
  }
  
  td.name{
    font-size: 2rem;
    padding: 20px;
  }
  
  div {
    &.field, &.actions {
      margin-bottom: 10px;
    }
  }
  
  #notice {
    color: green;
  }
  
  #alert{
    color: red;
  }
  
  .field_with_errors {
    margin: 0 auto;
    padding: 2px;
    background-color: red;
    display: table;
  }
  
  #error_explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px 7px 0;
    margin: 20px auto;
    background-color: #f0f0f0;
  
    h2 {
      text-align: left;
      font-weight: bold;
      padding: 5px 5px 5px 15px;
      font-size: 12px;
      margin: -7px -7px 0;
      background-color: #c00;
      color: #fff;
    }
  
    ul li {
      margin-top: 5px;
      font-size: 12px;
      list-style: square;
      text-align: left;
    }
  }
  
  label {
    display: block;
  }

  footer{
    height: 70px;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: table;
  }

  footer p{
    color: #666;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
  }

  .icon{
    width: 30px;
    border-radius: 50%;
    border: solid 1px #b4b4b4;
  }
  
  .profile{
    width: 170px;
  }

  .about p{
    font-size: 2rem;
    margin: 30px;
  }
  
  .userposts img{
    max-width: 320px;
    max-height: 320px;
    margin:  30px 10px;
  }

  //bootstrap
  .nav-item{
    font-size: 1.4rem;
    float: left;
    width: 25%;
  }
  .justify-content-center{
    width: 50%;
    margin: 0 auto;
  }

  .btn{
    border-radius: 15px;
  }

  .container{
    position: relative;
    padding-bottom: 70px;
    min-height: 100vh;
    box-sizing: border-box;
  }
  